* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 6rem;
  padding: 2rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .logo {
  height: 3rem;
  margin-right: -12rem;
  margin-top: -1.5rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 700;
}

nav ul li :hover {
  color: #3b3054;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

nav ul li .sign-up {
  color: white;
}

nav ul li a {
  color: #9e9aa7;
}

.btn a {
  padding: 0.5rem 1.5rem;
  background-color: #2acfcf;
  color: white;
  border-radius: 50px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.btn a:hover {
  opacity: 0.8;
}

.intro {
  padding: 5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-text {
  margin-left: 4rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.intro-text h1 {
  margin-bottom: 0.75rem;
  color: #3b3054;
  font-size: 3.5rem;
  line-height: 4rem;
}

.intro-text p {
  margin-bottom: 2rem;
  color: #9e9aa7;
}

.intro-text .btn-large {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.75rem 2rem;
  background-color: #2acfcf;
  border-radius: 50px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: none;
  border: none;
}

.intro-text .btn-large:hover {
  opacity: 0.8;
}

.intro-text .btn-large a {
  color: white;
}

.intro-img {
  padding-left: 7rem;
}

.intro-img img {
  margin-left: 15%;
}

form {
  background-color: #3b3054;
  width: 80%;
  padding: 2.5rem;
  margin: 0 auto;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("./images/bg-shorten-desktop.svg");
  background-size: cover;
}

.input-box form input {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  border: transparent;
  outline: none;
  width: 80%;
  margin-right: 1rem;
}

.input-box form button {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  border: transparent;
  cursor: pointer;
  color: white;
  background-color: #2acfcf;
}

.statistics {
  background-color: whitesmoke;
  padding: 10rem 9rem;
  text-align: center;
}

.statistics .links {
  padding-bottom: 4rem;
  margin-top: -4rem;
}

.statistics .links .link-container {
  background-color: white;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.75rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.statistics .links .urls {
  color: #9e9aa7;
  margin-left: 2rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1rem;
}

.statistics .links .urls .long-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.statistics .links .urls .short-url {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #2acfcf;
}

.statistics .links .copy-btn {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem 1.25rem;
  border-radius: 0.5rem;
  border: transparent;
  cursor: pointer;
  background-color: #2acfcf;
}

.statistics .links .copy-btn:hover {
  opacity: 0.8;
}

.statistics .links .copy-btn a {
  color: white;
}

.statistics .links .copied {
  background-color: #3b3054 !important;
  color: white;
}

.statistics h2 {
  color: #3b3054;
  font-size: 2.5rem;
  line-height: 4rem;
  padding-bottom: 1rem;
}

.statistics .statistics-text {
  color: #9e9aa7;
  padding-bottom: 6rem;
}

.card-line {
  width: 80%;
  margin: 0 auto;
  height: 10px;
  background-color: #2acfcf;
  border: none;
  position: relative;
  top: 10rem;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.cards .card {
  background-color: white;
  margin-left: 2rem;
  padding: 2rem;
  position: relative;
}

.cards .card:nth-child(2) {
  top: 2.5rem;
}

.cards .card:last-child {
  top: 5rem;
}

.cards .card .circle {
  background: #3b3054;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: -2.5rem;
  left: 2rem;
}

.cards .card img {
  background: #3b3054;
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1rem;
  left: 1rem;
}

.cards .card .card-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #3b3054;
  margin-top: 2rem;
}

.cards .card p {
  color: #bfbfbf;
  text-align: left;
  margin: 1rem 0.25rem;
  font-size: 1rem;
}

.boost {
  background-color: #3b3054;
  background-image: url("./images/bg-boost-desktop.svg");
  background-size: cover;
  padding: 2.5rem;
  text-align: center;
}

.boost p {
  font-size: 2.75rem;
  font-weight: 700;
  color: white;
  padding-bottom: 2rem;
}

.boost button {
  padding: 1rem 3rem;
  background-color: #2acfcf;
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: 700;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.boost button:hover {
  opacity: 0.8;
}

.boost button a {
  color: white;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #35323e;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li:first-child {
  color: white;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

li:first-child:hover {
  color: white;
  cursor: default;
}

li {
  color: #bfbfbf;
  margin-bottom: 0.75rem;
  font-weight: 500;
}

li:hover {
  color: #2acfcf;
  cursor: pointer;
}

.logo-white {
  height: 2.5rem;
}

.social-icons img {
  margin-left: 20px;
}

.social-icons img:hover {
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */